<h1>Login</h1>
<%= form_with url: '/login', method: :post do |form| %>
<%= form.label :email, "Email:" %>
<%= form.text_field :email %>
<%= form.label :password, "Password:" %>
<%= form.text_field :password %>
<%= form.submit :submit %>
<% end %>