<center>
<h1>Viewing Party Lite</h1>
</center>

<center>
<% if !session[:user_id] %>
<%= button_to "Create a New User", new_user_path, method: :get %> 
<%= link_to "Login", login_path %>
<% else %>
<%= link_to "Log Out", logout_path %>
<% end %>
</center>



<% if session[:user_id] && !User.find_by(id: session[:user_id]).visitor? %>
<section id="existing_users">
<h3>Current Users</h3>
  
  <% @users.each do |user| %>
    <section id="user_id-<%= user.id %>">
    <%= user.name %> <br>
    
    </section>
    <% end %>
<% end %>
</section>